<div class="container banner">
    <div class="row">
        <div class="col-md-12">
            <h5>Monolith</h5>
            <h2>With Monolith's AI<br> Software, test less and<br> learn more.</h2>
            <h6>Spend less time running expensive, repetitive tests and more time<br> learning from your engineering data to predict the exact tests to run.</h6>
            <br>
            <button class="btn-demo">REQUEST DEMO</button><button class="btn-team">SPEAK TO OUR TEAM</button>
            <div class="overlay"></div>
        </div>
        <div class="col-md-12 slide-container">
            <swiper-container slides-per-view="5" speed="500" loopedSlides="6" loop="true" autoplay="true" delay="1000">
                <swiper-slide><img src="../../assets/images/Kautex.png" alt=""></swiper-slide>
                <swiper-slide><img src="../../assets/images/michelin.png" alt=""></swiper-slide>
                <swiper-slide><img src="../../assets/images/JOTA.png" alt=""></swiper-slide>
                <swiper-slide><img src="../../assets/images/mercedes.png" alt=""></swiper-slide>
                <swiper-slide><img src="../../assets/images/honeywell.png" alt=""></swiper-slide>
                <swiper-slide><img src="../../assets/images/Kautex.png" alt=""></swiper-slide>
                <swiper-slide><img src="../../assets/images/michelin.png" alt=""></swiper-slide>
                <swiper-slide><img src="../../assets/images/JOTA.png" alt=""></swiper-slide>
                <swiper-slide><img src="../../assets/images/mercedes.png" alt=""></swiper-slide>
                <swiper-slide><img src="../../assets/images/honeywell.png" alt=""></swiper-slide>
            </swiper-container>
        </div>
    </div>